

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Alerts - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="css/tabler.min.css" rel="stylesheet"/>
    <link href="css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="css/demo.min.css" rel="stylesheet"/>
    <link href="css/inter.css" rel="stylesheet"/>
    <HeadOutlet/>
  </head>
  <body >
    <script src="js/demo-theme.min.js"></script>
    <Routes/>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="js/tabler.min.js" defer></script>
    <script src="js/demo.min.js" defer></script>
  </body>
</html>