@page "/Badges"

<PageHeader Title="Badges"/>
<PageBody>
    <div class="row row-cards">
        <div class="col-4">
            <Card>
                <CardBody>
                    <h1>Example heading <Badge>New</Badge></h1>
                    <h2>Example heading <Badge>New</Badge></h2>
                    <h3>Example heading <Badge>New</Badge></h3>
                    <h4>Example heading <Badge>New</Badge></h4>
                    <h5>Example heading <Badge>New</Badge></h5>
                    <h6>Example heading <Badge>New</Badge></h6>
                </CardBody>
            </Card>
        </div>
        <div class="col-8">
            <div class="row row-cards">
                <div class="col-12">
                    <Card>
                        <CardBody>
                            <div class="badges-list">
                                <Badge BackgroundColor="TablerColors.Blue">Blue</Badge>
                                <Badge BackgroundColor="TablerColors.Azure">Azure</Badge>
                                <Badge BackgroundColor="TablerColors.Indigo">Indigo</Badge>
                                <Badge BackgroundColor="TablerColors.Purple">Purple</Badge>
                                <Badge BackgroundColor="TablerColors.Pink">Pink</Badge>
                                <Badge BackgroundColor="TablerColors.Red">Red</Badge>
                                <Badge BackgroundColor="TablerColors.Orange">Orange</Badge>
                                <Badge BackgroundColor="TablerColors.Yellow">Yellow</Badge>
                                <Badge BackgroundColor="TablerColors.Lime">Lime</Badge>
                                <Badge BackgroundColor="TablerColors.Green">Green</Badge>
                                <Badge BackgroundColor="TablerColors.Teal">Teal</Badge>
                                <Badge BackgroundColor="TablerColors.Cyan">Cyan</Badge>
                            </div>
                        </CardBody>
                    </Card>
                </div>
                <div class="col-12">
                    <Card>
                        <CardBody>
                            <div class="badges-list">
                                <Badge BackgroundColor="TablerColors.Blue" Type="BadgeTypes.Light">Blue</Badge>
                                <Badge BackgroundColor="TablerColors.Azure" Type="BadgeTypes.Light">Azure</Badge>
                                <Badge BackgroundColor="TablerColors.Indigo" Type="BadgeTypes.Light">Indigo</Badge>
                                <Badge BackgroundColor="TablerColors.Purple" Type="BadgeTypes.Light">Purple</Badge>
                                <Badge BackgroundColor="TablerColors.Pink" Type="BadgeTypes.Light">Pink</Badge>
                                <Badge BackgroundColor="TablerColors.Red" Type="BadgeTypes.Light">Red</Badge>
                                <Badge BackgroundColor="TablerColors.Orange" Type="BadgeTypes.Light">Orange</Badge>
                                <Badge BackgroundColor="TablerColors.Yellow" Type="BadgeTypes.Light">Yellow</Badge>
                                <Badge BackgroundColor="TablerColors.Lime" Type="BadgeTypes.Light">Lime</Badge>
                                <Badge BackgroundColor="TablerColors.Green" Type="BadgeTypes.Light">Green</Badge>
                                <Badge BackgroundColor="TablerColors.Teal" Type="BadgeTypes.Light">Teal</Badge>
                                <Badge BackgroundColor="TablerColors.Cyan" Type="BadgeTypes.Light">Cyan</Badge>
                            </div>
                        </CardBody>
                    </Card>
                </div>
                <div class="col-12">
                    <Card>
                        <CardBody>
                            <div class="badges-list">
                                <Badge BackgroundColor="TablerColors.Blue" Type="BadgeTypes.Outline">Blue</Badge>
                                <Badge BackgroundColor="TablerColors.Azure" Type="BadgeTypes.Outline">Azure</Badge>
                                <Badge BackgroundColor="TablerColors.Indigo" Type="BadgeTypes.Outline">Indigo</Badge>
                                <Badge BackgroundColor="TablerColors.Purple" Type="BadgeTypes.Outline">Purple</Badge>
                                <Badge BackgroundColor="TablerColors.Pink" Type="BadgeTypes.Outline">Pink</Badge>
                                <Badge BackgroundColor="TablerColors.Red" Type="BadgeTypes.Outline">Red</Badge>
                                <Badge BackgroundColor="TablerColors.Orange" Type="BadgeTypes.Outline">Orange</Badge>
                                <Badge BackgroundColor="TablerColors.Yellow" Type="BadgeTypes.Outline">Yellow</Badge>
                                <Badge BackgroundColor="TablerColors.Lime" Type="BadgeTypes.Outline">Lime</Badge>
                                <Badge BackgroundColor="TablerColors.Green" Type="BadgeTypes.Outline">Green</Badge>
                                <Badge BackgroundColor="TablerColors.Teal" Type="BadgeTypes.Outline">Teal</Badge>
                                <Badge BackgroundColor="TablerColors.Cyan" Type="BadgeTypes.Outline">Cyan</Badge>
                            </div>
                        </CardBody>
                    </Card>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="dropdown-menu dropdown-menu-demo dropdown-menu-arrow">
                <a class="dropdown-item" href="#">
                    Action
                    <Badge BackgroundColor="TablerColors.Primary" CssClass="ms-auto">12</Badge>
                </a>
                <a class="dropdown-item" href="#">
                    Another action
                    <Badge BackgroundColor="TablerColors.Green" CssClass="ms-auto"></Badge>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="row row-cards">
                <div class="col-12">
                    <Card>
                        <CardBody>
                            <div class="btn-list">
                                <Button>Blue badge <Badge BackgroundColor="TablerColors.Blue" CssClass="ms-2">1</Badge></Button>
                                <Button>Azure badge <Badge BackgroundColor="TablerColors.Azure" CssClass="ms-2">2</Badge></Button>
                                <Button>Indigo badge <Badge BackgroundColor="TablerColors.Indigo" CssClass="ms-2">3</Badge></Button>
                                <Button>Purple badge <Badge BackgroundColor="TablerColors.Purple" CssClass="ms-2">4</Badge></Button>
                                <Button>Pink badge <Badge BackgroundColor="TablerColors.Pink" CssClass="ms-2">5</Badge></Button>
                                <Button>Red badge <Badge BackgroundColor="TablerColors.Red" CssClass="ms-2">6</Badge></Button>
                                <Button>Orange badge <Badge BackgroundColor="TablerColors.Orange" CssClass="ms-2">7</Badge></Button>
                                <Button>Yellow badge <Badge BackgroundColor="TablerColors.Yellow" CssClass="ms-2">8</Badge></Button>
                                <Button>Lime badge <Badge BackgroundColor="TablerColors.Lime" CssClass="ms-2">9</Badge></Button>
                                <Button>Green badge <Badge BackgroundColor="TablerColors.Green" CssClass="ms-2">10</Badge></Button>
                                <Button>Teal badge <Badge BackgroundColor="TablerColors.Teal" CssClass="ms-2">11</Badge></Button>
                                <Button>Cyan badge <Badge BackgroundColor="TablerColors.Cyan" CssClass="ms-2">12</Badge></Button>
                            </div>
                        </CardBody>
                    </Card>
                </div>
                <div class="col-12">
                    <Card>
                        <CardBody>
                            <div class="btn-list">
                                <Button CssClass="position-relative">Blue badge <Badge BackgroundColor="TablerColors.Blue" Type="BadgeTypes.Notification">1</Badge></Button>
                                <Button CssClass="position-relative">Azure badge <Badge BackgroundColor="TablerColors.Azure" Type="BadgeTypes.Notification">2</Badge></Button>
                                <Button CssClass="position-relative">Indigo badge <Badge BackgroundColor="TablerColors.Indigo" Type="BadgeTypes.Notification">3</Badge></Button>
                                <Button CssClass="position-relative">Purple badge <Badge BackgroundColor="TablerColors.Purple" Type="BadgeTypes.Notification">4</Badge></Button>
                                <Button CssClass="position-relative">Pink badge <Badge BackgroundColor="TablerColors.Pink" Type="BadgeTypes.Notification">5</Badge></Button>
                                <Button CssClass="position-relative">Red badge <Badge BackgroundColor="TablerColors.Red" Type="BadgeTypes.Notification">6</Badge></Button>
                                <Button CssClass="position-relative">Orange badge <Badge BackgroundColor="TablerColors.Orange" Type="BadgeTypes.Notification">7</Badge></Button>
                                <Button CssClass="position-relative">Yellow badge <Badge BackgroundColor="TablerColors.Yellow" Type="BadgeTypes.Notification">8</Badge></Button>
                                <Button CssClass="position-relative">Lime badge <Badge BackgroundColor="TablerColors.Lime" Type="BadgeTypes.Notification">9</Badge></Button>
                                <Button CssClass="position-relative">Green badge <Badge BackgroundColor="TablerColors.Green" Type="BadgeTypes.Notification">10</Badge></Button>
                                <Button CssClass="position-relative">Teal badge <Badge BackgroundColor="TablerColors.Teal" Type="BadgeTypes.Notification">11</Badge></Button>
                                <Button CssClass="position-relative">Cyan badge <Badge BackgroundColor="TablerColors.Cyan" Type="BadgeTypes.Notification">12</Badge></Button>
                            </div>
                        </CardBody>
                    </Card>
                </div>
                <div class="col-12">
                    <Card>
                        <CardBody>
                            <div class="btn-list">
                                <Button CssClass="position-relative">Blue badge <Badge BackgroundColor="TablerColors.Blue" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Azure badge <Badge BackgroundColor="TablerColors.Azure" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Indigo badge <Badge BackgroundColor="TablerColors.Indigo" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Purple badge <Badge BackgroundColor="TablerColors.Purple" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Pink badge <Badge BackgroundColor="TablerColors.Pink" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Red badge <Badge BackgroundColor="TablerColors.Red" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Orange badge <Badge BackgroundColor="TablerColors.Orange" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Yellow badge <Badge BackgroundColor="TablerColors.Yellow" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Lime badge <Badge BackgroundColor="TablerColors.Lime" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Green badge <Badge BackgroundColor="TablerColors.Green" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Teal badge <Badge BackgroundColor="TablerColors.Teal" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                                <Button CssClass="position-relative">Cyan badge <Badge BackgroundColor="TablerColors.Cyan" Type="BadgeTypes.Notification" IsBlink="true"></Badge></Button>
                            </div>
                        </CardBody>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</PageBody>

@code {

}