@page "/Buttons"

<PageHeader Title="Buttons"/>
<PageBody>
<CardRow>
<div class="col-12">
    <Card>
        <CardHeader Title="Standard Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Active state</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" IsActive="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" IsActive="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" IsActive="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" IsActive="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" IsActive="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" IsActive="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" IsActive="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" IsActive="true">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" IsDisabled="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" IsDisabled="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" IsDisabled="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" IsDisabled="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" IsDisabled="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" IsDisabled="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" IsDisabled="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" IsDisabled="true">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Outline Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Outline">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Active state</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsActive="true">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Ghost Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Active state</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Square Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Square">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Pill Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" CssClass="w-100" ButtonStyle="ButtonStyles.Pill">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Extra Colors"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.blue" CssClass="w-100">Blue</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.azure" CssClass="w-100">Azure</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.indigo" CssClass="w-100">Indigo</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.purple" CssClass="w-100">Purple</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.pink" CssClass="w-100">Pink</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.red" CssClass="w-100">Red</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.orange" CssClass="w-100">Orange</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.yellow" CssClass="w-100">Yellow</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.lime" CssClass="w-100">Lime</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.green" CssClass="w-100">Green</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.teal" CssClass="w-100">Teal</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.cyan" CssClass="w-100">Cyan</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Icon Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.facebook" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_facebook"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.twitter" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_twitter"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.google" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_google"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.youtube" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_youtube"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vimeo" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_vimeo"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.dribbble" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_dribbble"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.github" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_github"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.instagram" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_instagram"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.pinterest" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_pinterest"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vk" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_vk"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.rss" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.rss"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.flickr" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_flickr"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.bitbucket" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_bitbucket"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.tabler" CssClass="w-100" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_tabler"></SvgIcon>
                    </Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Social colors"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.facebook" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_facebook"></SvgIcon>
                        Facebook
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.twitter" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_twitter"></SvgIcon>
                        Twitter
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.google" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_google"></SvgIcon>
                        Google
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.youtube" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_youtube"></SvgIcon>
                        Youtube
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vimeo" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_vimeo"></SvgIcon>
                        Vimeo
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.dribbble" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_dribbble"></SvgIcon>
                        Dribbble
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.github" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_github"></SvgIcon>
                        Github
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.instagram" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_instagram"></SvgIcon>
                        Instagram
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.pinterest" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_pinterest"></SvgIcon>
                        Pinterest
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vk" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_vk"></SvgIcon>
                        VK
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.rss" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.rss"></SvgIcon>
                        RSS
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.flickr" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_flickr"></SvgIcon>
                        Flickr
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.bitbucket" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_bitbucket"></SvgIcon>
                        Bitbucket
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.tabler" CssClass="w-100" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_tabler"></SvgIcon>
                        Tabler
                    </Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
</CardRow>
</PageBody>

@code {

}