@page "/Buttons"

<PageHeader Title="Buttons"/>
<PageBody>
<CardRow>
<div class="col-12">
    <Card>
        <CardHeader Title="Standard Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Active state</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" IsActive="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" IsActive="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" IsActive="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" IsActive="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" IsActive="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" IsActive="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" IsActive="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" IsActive="true">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" IsDisabled="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" IsDisabled="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" IsDisabled="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" IsDisabled="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" IsDisabled="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" IsDisabled="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" IsDisabled="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" IsDisabled="true">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Outline Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Outline">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Outline">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Outline">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Outline">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Outline">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Outline">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Outline">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Outline">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Active state</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Outline" IsActive="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Outline" IsActive="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Outline" IsActive="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Outline" IsActive="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Outline" IsActive="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Outline" IsActive="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Outline" IsActive="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Outline" IsActive="true">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Outline" IsDisabled="true">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Ghost Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Ghost">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Ghost">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Ghost">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Ghost">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Ghost">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Ghost">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Ghost">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Ghost">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Active state</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Ghost" IsActive="true">Light</Button>
                </div>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Ghost" IsDisabled="true">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Square Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Square">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Square">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Square">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Square">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Square">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Square">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Square">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Square">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Pill Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.primary" ButtonStyle="ButtonStyles.Pill">Primary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.secondary" ButtonStyle="ButtonStyles.Pill">Secondary</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.success" ButtonStyle="ButtonStyles.Pill">Success</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.warning" ButtonStyle="ButtonStyles.Pill">Warning</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.danger" ButtonStyle="ButtonStyles.Pill">Danger</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.info" ButtonStyle="ButtonStyles.Pill">Info</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                    <Button href="#" ButtonColor="ButtonColors.dark" ButtonStyle="ButtonStyles.Pill">Dark</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl bg-dark py-3">
                    <Button href="#" ButtonColor="ButtonColors.light" ButtonStyle="ButtonStyles.Pill">Light</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Extra Colors"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.blue">Blue</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.azure">Azure</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.indigo">Indigo</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.purple">Purple</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.pink">Pink</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.red">Red</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.orange">Orange</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.yellow">Yellow</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.lime">Lime</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.green">Green</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.teal">Teal</Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.cyan">Cyan</Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Icon Buttons"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.facebook" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_facebook"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.twitter" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_twitter"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.google" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_google"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.youtube" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_youtube"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vimeo" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_vimeo"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.dribbble" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_dribbble"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.github" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_github"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.instagram" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_instagram"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.pinterest" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_pinterest"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vk" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_vk"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.rss" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.rss"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.flickr" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_flickr"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.bitbucket" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_bitbucket"></SvgIcon>
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.tabler" ButtonStyle="ButtonStyles.Icon">
                        <SvgIcon Icon="TablerSvgIcons.brand_tabler"></SvgIcon>
                    </Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
<div class="col-12">
    <Card>
        <CardHeader Title="Social colors"/>
        <CardBody>
            <div class="row g-2 align-items-center">
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.facebook" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_facebook"></SvgIcon>
                        Facebook
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.twitter" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_twitter"></SvgIcon>
                        Twitter
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.google" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_google"></SvgIcon>
                        Google
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.youtube" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_youtube"></SvgIcon>
                        Youtube
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vimeo" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_vimeo"></SvgIcon>
                        Vimeo
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.dribbble" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_dribbble"></SvgIcon>
                        Dribbble
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.github" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_github"></SvgIcon>
                        Github
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.instagram" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_instagram"></SvgIcon>
                        Instagram
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.pinterest" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_pinterest"></SvgIcon>
                        Pinterest
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.vk" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_vk"></SvgIcon>
                        VK
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.rss" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.rss"></SvgIcon>
                        RSS
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.flickr" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_flickr"></SvgIcon>
                        Flickr
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.bitbucket" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_bitbucket"></SvgIcon>
                        Bitbucket
                    </Button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                    <Button href="#" ButtonColor="ButtonColors.tabler" ButtonStyle="ButtonStyles.IconText">
                        <SvgIcon Icon="TablerSvgIcons.brand_tabler"></SvgIcon>
                        Tabler
                    </Button>
                </div>
            </div>
        </CardBody>
    </Card>
</div>
</CardRow>
</PageBody>

@code {

}