@page "/ColorPickers"
@rendermode InteractiveServer

<PageHeader Title="Color Pickers"/>
<PageBody>
    <Card>
        <CardBody>
            <CardTitle>Basic</CardTitle>
            <div class="row g-3">
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-1" SelectedColor="#0054a6"/>
                    </div>
                </div>
            </div>
        </CardBody>
    </Card>
</PageBody>

@code
{

}