@page "/ColorPickers"
@rendermode InteractiveServer

<PageHeader Title="Color Pickers"/>
<PageBody>
    <Card>
        <CardBody>
            <CardTitle>Basic</CardTitle>
            <div class="row g-3">
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-1" SelectedColor="#0054a6"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-2" SelectedColor="#45aaf2"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-3" SelectedColor="#6574cd"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-4" SelectedColor="#a55eea"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-5" SelectedColor="#f66d9b"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-6" SelectedColor="#fa4654"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-7" SelectedColor="#fd9644"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-8" SelectedColor="#f1c40f"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-9" SelectedColor="#7bd235"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-10" SelectedColor="#5eba00"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-11" SelectedColor="#2bcbba"/>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <ColorPicker Id="colorpicker-12" SelectedColor="#17a2b8"/>
                    </div>
                </div>
            </div>
        </CardBody>
    </Card>
</PageBody>

@code
{

}