@page "/Placeholders"

<PageHeader Title="Placeholder"/>
<PageBody>
    <div class="row row-cards">
        <div class="col-3">
            <Placeholder Type="PlaceholderTypes.Post"/>
        </div>
        <div class="col-3">
            <Placeholder Type="PlaceholderTypes.Post"/>
        </div>
        <div class="col-3">
            <Placeholder Type="PlaceholderTypes.Post"/>
        </div>
        <div class="col-3">
            <Placeholder Type="PlaceholderTypes.Post"/>
        </div>
        <div class="col-4">
            <div class="row row-cards">
                <div class="col-12">
                    <Placeholder Type="PlaceholderTypes.CircleItem"/>
                </div>
                <div class="col-12">
                    <Placeholder Type="PlaceholderTypes.CircleItemCenter"/>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row row-cards">
                <div class="col-12">
                    <Placeholder Type="PlaceholderTypes.Post"/>
                </div>
                <div class="col-12">
                    <Placeholder Type="PlaceholderTypes.SquareItem"/>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row row-cards">
                <div class="col-12">
                    <Placeholder Type="PlaceholderTypes.Text"/>
                </div>
                <div class="col-12">
                    <Placeholder Type="PlaceholderTypes.CircleList" ListCount="4"/>
                </div>
            </div>
        </div>
    </div>
</PageBody>