@page "/Tags"
<PageHeader Title="Badges"/>
<PageBody>
<CardRow CssClass="row-cols-1 row-cols-md-2 row-cols-lg-3">
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Default tags</CardTitle>
            <TagList>
                <Tag>
                    Label 1
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 2
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 3
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 4
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 5
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 6
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 7
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 8
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 9
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 10
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 11
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 12
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 13
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label 14
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Tags with flag</CardTitle>
            <TagList>
                <Tag>
                    <Flag Country="TablerFlags.Andorra" CssClass="h-75 d-inline-block"/>
                    Andorra
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.United_Arab_Emirates" CssClass="h-75 d-inline-block"/>
                    United Arab Emirates
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Afghanistan" CssClass="h-75 d-inline-block"/>
                    Afghanistan
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Antigua" CssClass="h-75 d-inline-block"/>
                    Antigua
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Anguilla" CssClass="h-75 d-inline-block"/>
                    Anguilla
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Armenia" CssClass="h-75 d-inline-block"/>
                    Armenia
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Angolan" CssClass="h-75 d-inline-block"/>
                    Angolan
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Antarctica" CssClass="h-75 d-inline-block"/>
                    Antarctica
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Flag Country="TablerFlags.Argentina" CssClass="h-75 d-inline-block"/>
                    Argentina
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Tags with icon</CardTitle>
            <TagList>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.bold" CssClass="tag-icon icon-xxs"/>
                    bold
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.italic" CssClass="tag-icon icon-xxs"/>
                    italic
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.underline" CssClass="tag-icon icon-xxs"/>
                    underline
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.copy" CssClass="tag-icon icon-xxs"/>
                    copy
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.scissors" CssClass="tag-icon icon-xxs"/>
                    scissors
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.file_plus" CssClass="tag-icon icon-xxs"/>
                    file-plus
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.file_minus" CssClass="tag-icon icon-xxs"/>
                    file-minus
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.ghost" CssClass="tag-icon icon-xxs"/>
                    ghost
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.star" CssClass="tag-icon icon-xxs"/>
                    star
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.script" CssClass="tag-icon icon-xxs"/>
                    script
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.photo" CssClass="tag-icon icon-xxs"/>
                    photo
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.dog" CssClass="tag-icon icon-xxs"/>
                    dog
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <SvgIcon Icon="TablerSvgIcons.piano" CssClass="tag-icon icon-xxs"/>
                    piano
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Tags with avatar</CardTitle>
            <TagList>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs" ImageUrl="static/avatars/000m.jpg"/>
                    Paweł Kuna
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs">JL</Avatar>
                    Jeffie Lewzey
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs" ImageUrl="static/avatars/002m.jpg"/>
                    Mallory Hulme
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs" ImageUrl="static/avatars/003m.jpg"/>
                    Dunn Slane
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs" ImageUrl="static/avatars/000f.jpg"/>
                    Emmy Levet
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs" ImageUrl="static/avatars/001f.jpg"/>
                    Maryjo Lebarree
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs">EP</Avatar>
                    Egan Poetz
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Avatar CssClass="tag-avatar" Size="AvatarSizes.xxs" ImageUrl="static/avatars/002f.jpg"/>
                    Kellie Skingley
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Tags with status</CardTitle>
            <TagList>
                <Tag>
                    <Badge BackgroundColor="TablerColors.blue" CssClass="tag-status badge-empty"/>
                    Blue
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.azure" CssClass="tag-status badge-empty"/>
                    Azure
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.indigo" CssClass="tag-status badge-empty"/>
                    Indigo
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.purple" CssClass="tag-status badge-empty"/>
                    Purple
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.pink" CssClass="tag-status badge-empty"/>
                    Pink
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.red" CssClass="tag-status badge-empty"/>
                    Red
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.orange" CssClass="tag-status badge-empty"/>
                    Orange
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.yellow" CssClass="tag-status badge-empty"/>
                    Yellow
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.lime" CssClass="tag-status badge-empty"/>
                    Lime
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.green" CssClass="tag-status badge-empty"/>
                    Green
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.teal" CssClass="tag-status badge-empty"/>
                    Teal
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <Badge BackgroundColor="TablerColors.cyan" CssClass="tag-status badge-empty"/>
                    Cyan
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Tags with legend</CardTitle>
            <TagList>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.blue"/>
                    Blue
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.azure"/>
                    Azure
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.indigo"/>
                    Indigo
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.purple"/>
                    Purple
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.pink"/>
                    Pink
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.red"/>
                    Red
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.orange"/>
                    Orange
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.yellow"/>
                    Yellow
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.lime"/>
                    Lime
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.green"/>
                    Green
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.teal"/>
                    Teal
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <TablerLegend BackgroundColor="TablerColors.cyan"/>
                    Cyan
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Default tags</CardTitle>
            <TagList>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check"/>
                    Label 1
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check"/>
                    Label 2
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check"/>
                    Label 3
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check"/>
                    Label 4
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check"/>
                    Label 5
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check"/>
                    Label 6
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check" checked/>
                    Label 7
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check" checked/>
                    Label 8
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check" checked/>
                    Label 9
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check" checked/>
                    Label 10
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check" checked/>
                    Label 11
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    <input type="checkbox" class="form-check-input tag-check" checked/>
                    Label 12
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
<div class="col">
    <Card>
        <CardBody>
            <CardTitle>Default tags</CardTitle>
            <TagList>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">1</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">2</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">3</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">4</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">5</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">6</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">7</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">8</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">9</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">10</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">11</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
                <Tag>
                    Label
                    <Badge CssClass="badge-sm tag-badge">12</Badge>
                    <a href="#" class="btn-close"></a>
                </Tag>
            </TagList>
        </CardBody>
    </Card>
</div>
</CardRow>

</PageBody>

@code {

}