<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Alerts - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- Libs CSS files -->
    <link href="libs/plyr/dist/plyr.css" rel="stylesheet"/>
    <link href="libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <!-- CSS files -->
    <link href="css/tabler.min.css" rel="stylesheet"/>
    <link href="css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="css/demo.min.css" rel="stylesheet"/>
    <link href="css/inter.css" rel="stylesheet"/>
    <HeadOutlet/>
</head>
<body>
<script src="js/demo-theme.min.js"></script>
<Routes/>

<script src="_framework/blazor.web.js"></script>
<!-- Libs JS -->
<script src="libs/plyr/dist/plyr.min.js"></script>
<script src="libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="libs/jsvectormap/dist/js/jsvectormap.min.js" defer></script>
<script src="libs/jsvectormap/dist/maps/world.js" defer></script>
<script src="libs/jsvectormap/dist/maps/world-merc.js" defer></script>
<script src="libs/dropzone/dist/dropzone-min.js" defer></script>
<!-- Tabler Core -->
<script src="js/tabler.min.js" defer></script>
<script src="js/demo.min.js" defer></script>
<script src="js/BlazorTablerInterop.js" defer></script>

</body>
</html>